<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="opened-message">
        <h1><%= title %></h1>
        <p><strong> <%= message.user %> </strong>said:</p>
        <p>"<%= message.text %>"</p>
        <p>on <%= message.added.toLocaleString() %></p>
    
        <a href="/">
            <button type="button">
                Back to messages
            </button> 
        </a>
    </div>    
</body>
</html>